USE [master]
GO
/****** Object:  Database [IPB2Event]    Script Date: 3/19/2026 12:06:08 AM ******/
CREATE DATABASE [IPB2Event]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IPB2Event', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IPB2Event.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IPB2Event_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\IPB2Event_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IPB2Event].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IPB2Event]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 3/19/2026 12:06:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [varchar](100) NULL,
	[EventDate] [date] NULL,
	[Location] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 3/19/2026 12:06:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[ParticipantId] [int] IDENTITY(1,1) NOT NULL,
	[ParticipantName] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ParticipantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 3/19/2026 12:06:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NULL,
	[ParticipantId] [int] NULL,
	[RegisterDate] [date] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventId], [EventName], [EventDate], [Location], [Status], [IsDelete]) VALUES (1, N'Thingyan Water Festival', CAST(N'2026-04-13' AS Date), N'Yangon, Myanmar', N'upcoming', 0)
INSERT [dbo].[Events] ([EventId], [EventName], [EventDate], [Location], [Status], [IsDelete]) VALUES (2, N'Tazaungdaing Lighting Festival', CAST(N'2026-11-24' AS Date), N'Bagan, Myanmar', N'planned', 0)
INSERT [dbo].[Events] ([EventId], [EventName], [EventDate], [Location], [Status], [IsDelete]) VALUES (3, N'zzzz', CAST(N'2026-11-24' AS Date), N'Bagan, Myanmar', N'planned', 1)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Participants] ON 

INSERT [dbo].[Participants] ([ParticipantId], [ParticipantName], [Email], [Phone], [IsDelete]) VALUES (1, N'Aung Kyaw Moe', N'aung.kyaw@example.com', N'+95 9 12345678', 0)
INSERT [dbo].[Participants] ([ParticipantId], [ParticipantName], [Email], [Phone], [IsDelete]) VALUES (2, N'Su Su Hlaing', N'susu.hlaing@example.com', N'+95 9 87654321', 0)
INSERT [dbo].[Participants] ([ParticipantId], [ParticipantName], [Email], [Phone], [IsDelete]) VALUES (3, N'Min Thu Rain', N'min.thu@example.com', N'+95 9 45678901', 0)
SET IDENTITY_INSERT [dbo].[Participants] OFF
GO
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([RegistrationId], [EventId], [ParticipantId], [RegisterDate], [Status]) VALUES (1, 1, 1, CAST(N'2026-03-18' AS Date), N'Cancelled')
INSERT [dbo].[Registrations] ([RegistrationId], [EventId], [ParticipantId], [RegisterDate], [Status]) VALUES (2, 1, 2, CAST(N'2026-03-18' AS Date), N'Confirmed')
INSERT [dbo].[Registrations] ([RegistrationId], [EventId], [ParticipantId], [RegisterDate], [Status]) VALUES (3, 2, 3, CAST(N'2026-03-18' AS Date), N'Cancelled')
SET IDENTITY_INSERT [dbo].[Registrations] OFF
GO
ALTER TABLE [dbo].[Events] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Participants] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT (getdate()) FOR [RegisterDate]
GO
USE [master]
GO
